<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lista Productos</title>
</head>
<body>
<main>
  <header>
    <h1> Lista de Productos</h1>
    <p>Acá se encuentran los productos ingresados</p>
    <a href="/producto/nuevo" class="btn-nuevo">Agregar Producto</a>
  </header>

  <div class="tabla-container">
    <table>
      <thead>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Estado</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="producto : ${productos}">
        <td th:text="${producto.codigo_producto}"></td>
        <td th:text="${producto.nombre_producto}"></td>
        <td class="precio" th:text="'Q' + ${#numbers.formatDecimal(producto.precio, 1, 2)}"</td>
        <td th:text="${producto.stock}"></td>
        <td>
          <span th:if="${producto.estado == 1}" class="estado-activo"> activo</span>
          <span th:if="${producto.estado == 0}" class="estado-inactivo"> inactivo</span>
        </td>
      </tr>
      <tr th:if="${productos.isEmpty()}">
        <td colspan="5" class="vacio">
          <div class="vacio-icono"></div>
          No hay productos
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <footer>
    <p>KinalApp</p>
  </footer>
</main>
</body>
</html>