<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista Productos</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<main class="main-large">
  <header>
    <h1>Lista de Productos</h1>
    <p>Acá se encuentran los productos ingresados</p>
    <nav>
      <a href="/producto/nuevo" class="button">+ Agregar Producto</a>
    </nav>
  </header>

  <div th:if="${mensaje}" class="mensaje-exito" th:text="${mensaje}"></div>
  <div th:if="${error}" class="mensaje-error" th:text="${error}"></div>

  <div class="tabla-container">
    <table>
      <thead>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="producto : ${productos}"  th:if="${producto.estado == 1}">>
        <td th:text="${producto.codigo_producto}"></td>
        <td th:text="${producto.nombre_producto}"></td>
        <td class="precio" th:text="'Q' + ${#numbers.formatDecimal(producto.precio, 1, 2)}"></td>
        <td th:text="${producto.stock}"></td>
        <td>
          <span class="estado-activo">Activo </span>
        </td>
        <td class="acciones">
          <form th:action="@{/producto/editar/{codigo}(codigo=${producto.codigo_producto})}"
                method="get" style="display: inline;">
            <button type="submit" class="button-editar">
              Editar Producto
            </button>
          </form>

          <form th:action="@{/producto/eliminar/{codigo}(codigo=${producto.codigo_producto})}"
                method="post" style="display: inline;">
            <button type="submit" class="button-eliminar"
                    onclick="return confirm('¿Estás seguro de eliminar este producto?')">
              Eliminar
            </button>
          </form>
        </td>
      </tr>
      <tr th:if="${productos.isEmpty()}">
        <td colspan="6" class="vacio">
          No hay productos registrados
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <footer>
    <p>KinalApp</p>
  </footer>
</main>
</body>
</html>